:root{
  --color-primary: #ff9900;
  --color-hover: rgba(255, 153, 0, 0.7);
  --color-active: #E1670E;
  --color-gray: #cacaca;
  --color-gray-darker: #666;
  --color-almost-black: #333333;
  --color-white: white;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-color: var(--color-white);
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 75px;
  margin: 0 auto;
  max-width: 1770px;
}

.header {
  background-color: var(--color-white);
  box-shadow: 0px 37px 55px -19px rgba(34, 60, 80, 0.2);
}

.navbar{
  display: flex;
}

.nav {
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger{
  background-image: url(../img/hamburger.svg);
  width: 30px;
  height: 23px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: none;
}

.nav-logo {
  font-size: 0;
}

.nav-list {
  display: flex;
  margin: 0;
  font-size: 0;
  margin-right: 85px;
}

.nav-link {
  margin: -2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-almost-black);
  transition-property: border, color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  border: 2px solid transparent;
}

.nav-link:hover{
  border-bottom: 2px solid var(--color-primary);
}

.nav-link:active {
  border-bottom: 2px solid var(--color-active);
  color: var(--color-active);
}

.nav-link:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.nav-item:not(:last-child) {
  margin-right: 85px;
}

.nav-search{
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.nav-search:focus{
  border: none;
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.slider {
  margin-bottom: 100px;
}

.slider__content {
  background-image: url(../img/slider-banner.jpg);
  padding: 100px 80px;
}

.slider__title {
  width: 877px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-white);
  margin: 0;
  margin-bottom: 24px;
}

.slider__text {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  width: 790px;
  color: var(--color-white);
  margin: 0;
  margin-bottom: 90px;
}

.slider__btn {
  padding: 24.83px 36.88px;
  /* width: 280px; */
  /* height: 78px; */
  border: none;
  background: var(--color-primary);
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  color: var(--color-white);
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.slider__btn:hover{
  background-color: var(--color-hover);
}
.slider__btn:active{
  background-color: var(--color-active);
}
/* .slider__btn:focus{
  background-color: var(--color-hover);
  outline: none;
} */

.about {
  margin-bottom: 100px;
}

.about__title {
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-almost-black);
  margin: 0;
  margin-bottom: 20px;
  margin-left: 2px;
}

.about__text {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-almost-black);
  width: 1235px;
  margin: 0;
  margin-bottom: 50px;
}

.about__info {
  display: flex;
  justify-content: space-between;
}

.about__banner {
  background-image: url(../img/about__banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 868px;
  margin-right: 32px;
}

.about-banner__content {
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.about-banner__btn {
  border: 3px solid var(--color-primary);
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-white);
  padding: 17px 35px;
  background-color: transparent;
  transition-property: background-color, border, color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.about-banner__btn:hover{
  color: var(--color-white);
  border: 3px solid var(--color-primary);
  background-color: var(--color-primary);
}
.about-banner__btn:active{
  color: var(--color-white);
  border: 3px solid var(--color-active);
  background-color: var(--color-active);
}
/* .about-banner__btn:focus{
  color: var(--color-white);
  border: 3px solid var(--color-primary);
  background-color: var(--color-primary);
  outline: none;
} */

.about-banner__text {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
  width: 454px;
  margin-right: 139px;
}

.about__cardblock{
  margin: 0;
}

.about__card {
  background: var(--color-white);
  border: 1px solid var(--color-gray);
  padding: 64px 117px 64px 300px;
  background-repeat: no-repeat;
  background-position: left 60px center;
}

.about__card:first-child {
  background-image: url(../img/about__card1.svg);
  margin-bottom: 32px;
}
.about__card:nth-child(2) {
  background-image: url(../img/about__card2.svg);
}

.about-card__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-almost-black);
  margin: 0;
  margin-bottom: 8px;
  display: inline-block;
}

.about-card__text {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-almost-black);
  width: 450px;
  margin: 0;
}

.work {
  margin-bottom: 100px;
}

.work__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.work__secondcol {
  background-image: url(../img/work__banner.jpg);
  background-repeat: no-repeat;
  width: 870px;
  height: 460px;
  background-size: contain;
}

.work__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-almost-black);
}

.work__list {
  padding-left: 0;
  display: flex;
  margin-bottom: 47px;
}

.work__btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 0;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.work__btn--active{
  color: var(--color-active);
}

.work__btn:active{
  color: var(--color-active);
}

.work__btn:hover{
  color: var(--color-primary);
}
.work__btn:active{
  color: var(--color-active);
}
.work__btn:focus{
  outline: 1px solid #F7B045;
  outline-offset: 2px;
}

.work__item:not(:last-child) {
  margin-right: 85px;
}

.work__step {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-almost-black);
  margin: 0;
  margin-bottom: 8px;
}

.work__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-almost-black);
  width: 758px;
  margin: 0;
  margin-bottom: 50px;
}

.work__buttons {
  display: flex;
  font-size: 0;
}

.work__more-btn {
  background-color: var(--color-primary);
  padding: 19px 38px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-white);
  border: none;
  margin-right: 32px;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.work__more-btn:hover{
  background-color: #F7B045;
}
.work__more-btn:active{
  background-color: var(--color-active);
}
/* .work__more-btn:focus{
  background-color: #F7B045;
  outline: none;
} */

.work__agreement-btn {
  background-color: transparent;
  padding: 19px 38px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-almost-black);
  border: 1px solid var(--color-almost-black);
  transition-property: background-color, border, color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.work__agreement-btn:hover{
  border: 1px solid var(--color-gray-darker);
  background-color: var(--color-gray-darker);
  color: var(--color-white);
}
.work__agreement-btn:active{
  border: 1px solid var(--color-gray-darker);
  background-color: var(--color-gray-darker);
  color: var(--color-white);
}
.work__agreement-btn:focus{
  border: 1px solid #000;
  background-color: #000;
  color: var(--color-white);
}

.faq {
  margin-bottom: 100px;
}

.faq__title {
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-almost-black);
  margin: 0;
  margin-bottom: 43px;
}

.faq__list {
  padding-left: 0;
}

.faq__item:not(:first-child){
  margin-top: -1px;
}

.faq__item-text {
  padding: 39px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-almost-black);
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
  background-image: url(../img/faq__icon.svg);
  margin: 0;
  background-position: center right;
  background-repeat: no-repeat;
  cursor: pointer;
  transition-property: background-color, border, color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  position: relative;
}

.faq__item-text:hover{
  background-image: url(../img/faq__icon--hover.svg);
  color: var(--color-hover);
  border-bottom: 1px solid var(--color-primary);
  border-top: 1px solid var(--color-primary);
  z-index: 1;
}
.faq__item-text:focus{
  background-image: url(../img/faq__icon--hover.svg);
  color: var(--color-primary);
}

.faq__item-text:first-child:hover {
  border-top: 1px solid var(--color-primary);
}

.faq__slash{
  color: #ECECEC;
}

.footer {
  background-color: #222222;
  width: 100%;
}

.footer__foot {
  padding: 49px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col:nth-child(1) {
  width: 365px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 0;
}

.footer__list {
  margin: 0;
  margin-bottom: 90px;
}

.footer__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-gray);
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.footer__link:hover{
  color:var(--color-hover);
}
.footer__link:active{
  color:var(--color-active);
}
.footer__link:focus{
  outline:1px solid var(--color-primary);
  outline-offset: 2px;
}

.footer__social-list {
  display: flex;
  margin: 0;
}

.footer__social-item:not(:last-child) {
  margin-right: 25px;
}

.footer__social{
  display: inline-block;
  width: 60px;
  height: 60px;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.footer__social:hover{
  color: var(--color-primary);
}
.footer__social:active{
  color: var(--color-active);
}
.footer__social:focus{
  outline: 1px solid var(--color-primary);
  outline-offset: 2px;
}

.footer__social--facebook{
  background-image: url(../img/facebook.svg);
}

.footer__social--facebook:hover{
  background-image: url(../img/facebook--hover.svg);
}

.footer__social--facebook:active{
  background-image: url(../img/facebook--active.svg);
}

.footer__social--vk{
  background-image: url(../img/vk.svg);
}

.footer__social--vk:hover{
  background-image: url(../img/vk--hover.svg);
}

.footer__social--vk:active{
  background-image: url(../img/vk--active.svg);
}

.footer__social--instagram{
  background-image: url(../img/instagram.svg);
}

.footer__social--instagram:hover{
  background-image: url(../img/instagram--hover.svg);
}

.footer__social--instagram:active{
  background-image: url(../img/instagram--active.svg);
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer-form__title {
  font-size: 48px;
  line-height: 59px;
  color: var(--color-gray);
  margin: 0;
  margin-bottom: 25px;
  font-weight: normal;
}

.footer-form__input {
  padding: 14px 24px;
  background: #414141;
  border: none;
  width: 570px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-gray);
  box-sizing: border-box;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.footer-form__input:focus{
  background-color: var(--color-gray-darker);
}
.footer-form__input:hover{
  background-color: var(--color-gray-darker);
}
.footer-form__input:active{
  background-color: var(--color-gray-darker);
}

.footer-form__input--small {
  margin-bottom: 25px;
}

.footer-form__input--textarea {
  margin-bottom: 32px;
  height: 150px;
  resize: none;
}

.footer-form__submit {
  background-color: var(--color-primary);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-white);
  padding: 19px 52px;
  margin-right: 22px;
  border: none;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.footer-form__submit:hover{
  background-color: #F7B045;
}
.footer-form__submit:focus{
  background-color: #F7B045;
}
.footer-form__submit:active{
  background-color: var(--color-active);
}

.footer__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-gray);
  width: 363px;
}

.footer-form__submit-box {
  display: flex;
  align-items: center;
}

.footer-form__checkbox {
  margin-right: 4px;
  background-color: transparent;
}

.footer-form__chboxtext {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-gray);
}

.footer__label{
  font-size: 0;
}

@media (min-width: 1024px) and (max-width: 1500px) {

  .container{
    padding: 0 50px;
  }

  .nav{
    padding: 26px 0;
  }

  .nav-list{
    display: none;
  }

  .nav-logo{
    width: 150px;
    height: 48px;
    margin-left: -3px;
  }
  
  .hamburger{
    display: inline-block;
  }

  .slider{
    margin-bottom: 80px;
  }

  .slider__content{
    padding: 160px 77px;
    background-image: url(../img/slider-banner1024.jpg);
    background-size: contain;
  }

  .slider__title{
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px;
  }

  .slider__text{
    width: 660px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  .about{
    margin-bottom: 80px;
  }

  .about__title{
    margin-bottom: 11px;
  }

  .about__text{
    width: 925px;
    margin-bottom: 60px;
  }

  .about__info{
    flex-direction: column;
  }

  .about__banner{
    width: 100%;
    height: 640px;
    margin-bottom: 32px;
    background-image: url(../img/about-banner1024.jpg);
  }

  .about__card{
    padding: 64px 0px 64px 317px;
    background-position: left 75px center;
  }

  .about-card__title{
    margin-bottom: 9px;
  }

  .work{
    margin-bottom: 80px;
  }

  .work__list{
    margin-bottom: 53px
  }

  .work__firstcol{
    width: 437px;
  }
  
  .work__secondcol{
    background-size: cover;
    width: 437px;
    height: 689px;
    background-image: url(../img/work__banner1024.jpg);
  }

  .work__text{
    width: 100%;
    margin-bottom: 24px;
  }

  .faq{
    margin-bottom: 80px;
  }

  .faq__title{
    margin-bottom: 32px;
  }

  .faq__item-text{
    width: 756px;
    font-size: 20px;
    line-height: 32px;
    padding: 0;
    border: none;
    background-image: none;
  }

  .faq__item{
    padding: 39px 0;
    border-top: 1px solid var(--color-gray);
    border-bottom: 1px solid var(--color-gray);
    background-image: url(../img/faq__icon.svg);
    background-repeat: no-repeat;
    background-position: right center;
  }

  .faq__item:nth-child(2n){
    padding: 30px 0;
  }

  .footer__col:nth-child(3){
    display: none;
  }

  .footer-form__input{
    width: 540px;
  }

  .footer-form__submit{
    padding: 19px 37px;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {

  .container{
    padding: 0 50px;
  }

  .nav{
    padding: 10px 0;
  }

  .nav-list{
    display: none;
  }

  .nav-logo{
    width: 150px;
    height: 48px;
    margin-left: -6px;
  }
  
  .hamburger{
    display: inline-block;
  }

  .slider{
    margin-bottom: 80px;
  }

  .slider__content{
    padding: 160px 40px;
    background-image: url(../img/slider-banner768.jpg);
    background-size: contain;
  }

  .slider__title{
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 16px;
    width: 588px;
  }

  .slider__text{
    width: 588px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 60px;
  }

  .about{
    margin-bottom: 80px;
  }

  .about__title{
    margin-bottom: 11px;
  }

  .about__text{
    width: 100%;
    margin-bottom: 60px;
  }

  .about__info{
    flex-direction: column;
  }

  .about__banner{
    width: 100%;
    height: 650px;
    margin-bottom: 32px;
    background-image: url(../img/about-banner768.jpg);
  }

  .about-banner__content{
    padding: 34px 40px;
  }

  .about-banner__text{
    width: 366px;
    margin: 0;
  }

  .about__card{
    padding: 34px 0px 35px 170px;
    background-position: left 40px center;
    background-size: 17%;
  }

  .about-card__title{
    margin-bottom: 9px;
    margin-top: -1px;
  }

  .work{
    margin-bottom: 80px;
  }

  .work__list{
    margin-bottom: 50px;
    justify-content: space-between;
  }

  .work__content{
    flex-direction: column-reverse;
  }

  .work__firstcol{
    width: 100%;
  }
  
  .work__secondcol{
    background-size: cover;
    width: 100%;
    height: 284px;
    background-image: url(../img/work__banner768.jpg);
    margin-bottom: 38px;
  }

  .work__text{
    width: 100%;
    margin-bottom: 24px;
  }

  .faq{
    margin-bottom: 80px;
  }

  .faq__title{
    margin-bottom: 32px;
  }

  .faq__item-text{
    width: 570px;
    font-size: 20px;
    line-height: 32px;
    padding: 0;
    border: none;
    background-image: none;
  }

  .faq__item{
    padding: 30px 0;
    border-top: 1px solid var(--color-gray);
    border-bottom: 1px solid var(--color-gray);
    background-image: url(../img/faq__icon.svg);
    background-repeat: no-repeat;
    background-position: right center;
  }

  .faq__item:nth-child(1){
    padding: 39px 0;
  }

  .footer__foot{
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .footer__list{
    display: none;
  }

  .footer__col:nth-child(3){
    display: none;
  }

  .footer__col:nth-child(2){
    margin-bottom: 50px;
  }

  .footer-form__input{
    width: 540px;
    padding: 16px 24px 12px;
  }

  .footer-form__submit{
    padding: 19px 37px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .hamburger{
    display: block;
  }
  .nav{
    padding: 15px 0;
  }
  .nav-list{
    display: none;
  }
  .nav-search{
    display: block;
  }
  .nav-logo-img{
    width: 121px;
  }
  .slider{
    margin-bottom: 45px;
  }
  .slider__content{
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slider__title{
    font-size: 20px;
    width: 100%;
    line-height: 25px;
    text-align: center;
    margin-bottom: 5px;
  }
  .slider__text{
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 33px;
  }
  .slider__btn{
    font-size: 12px;
    padding: 5px 30px;
  }
  .container{
    padding: 0px 15px;
  }
  .about{
    margin-bottom: 50px;
  }
  .about__title{
    font-size: 24px;
    margin: 0;
    margin-bottom: 5px;
  }
  .about__text{
    width: 100%;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .about__info{
    flex-direction: column;
  }
  .about__banner{
    width: 100%;
    height: 200px;
    box-sizing: content-box;
    background-size: contain;
    padding-top: 197px;
    margin-bottom: 35px;
  }
  .about-banner__content{
    flex-direction: column;
    background-color: transparent;
    padding: 0;
    align-items: flex-start;
  }
  .about-banner__text{
    color: black;
    width: 100%;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .about-banner__btn{
    color: var(--color-primary);
    font-size: 12px;
    padding: 7px 42px;
    border: 2px solid var(--color-primary);
  }
  .about__cardblock{
    width: 100%;
  }
  .about__card{
    border: none;
    padding: 0;
    background-size: 23%;
    background-position: left top;
    padding-top: 60px;
  }
  .about-card__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: var(--color-almost-black);
    margin: 0;
    margin-bottom: 2px;
    display: inline-block;
  }
  .about-card__text {
    font-size: 14px;
    line-height: 28px;
    color: var(--color-almost-black);
    width: 100%;
    margin: 0;
  }
  .work__title{
    font-size: 24px;
    margin-bottom: 0px;
    line-height: 45px;
    color: var(--color-almost-black);
  }
  .work__btn{
    font-size: 14px;
  }
  .work__text{
    width: 100%;
  }
  .work__list{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
  }
  .work__item:not(:last-child){
    margin: 0;
  }
  .work__content{
    width: 100%;
    flex-direction: column-reverse;
  }
  .work__firstcol{
    width: 100%;
  }
  .work__secondcol{
    width: 100%;
    height: 175px;
  }
  .work__step{
    width: 100%;
    font-size: 18px;
    margin-bottom: 9px;
  }
  .work__text{
    width: 100%;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .work__buttons{
    width: 100%;
    justify-content: space-between;
  }
  .work__more-btn{
    padding: 10px 44px;
    margin: 0;
    font-size: 12px;
  }
  .work__agreement-btn{
    padding: 10px 31px;
    font-size: 12px;
  }
  .work{
    margin-bottom: 61px;
  }
  .faq__title{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0px;
  }
  .faq__item-text {
    padding: 27px 0;
    font-size: 14px;
    line-height: 26px;
    background-size: 10%;
    width: 85%;
    padding-right: 43px;
  }
  .faq{
    margin-bottom: 64px;
  }
  .footer__foot{
    flex-direction: column-reverse;
    width: 100%;
    padding: 35px 0;
  }
  .footer__form{
    width: 100%;
  }
  .footer-form__title{
    font-size: 24px;
    line-height: 24px;
  }
  .footer__list{
    display: none;
  }
  .footer__col:nth-child(1){
    width: 100%;
  }
  .footer__col:nth-child(3){
    display: none;
  }
  .footer__col:nth-child(2){
    width: 100%;
  }
  .footer-form__input{
    width: 100%;
    font-size: 14px;
    padding: 12px 20px;
    line-height: 35px;
  }
  .footer-form__submit-box{
    flex-direction: column;
  }

  /* .about__info{
    display: none;
  } */
}